/* Basic Reset */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #000000;
}

/*========= Fixed Header =========*/
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  color: white;
  z-index: 1000;
  height: 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center; /* Vertically center the content */
  padding: 0 16px; /* Add horizontal padding for better spacing */
}

.fixed-header h1 {
  font-size: 1rem;
  margin: 0;
  color: red; /* Keep this if you want the red color */
  line-height: 1; /* Adjust line height to match container height */
}

/*========= Main Content =========*/
.main-content {
  margin-top: 300px; /* Offset for the top panel */
  max-width: 800px;
  padding: 20px;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  /* Center the container */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: left; /* Center horizontally */
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 4.5rem;
  color: #2c3e50;
  margin-bottom: 0px;
}

h2 {
  font-size: 2rem;
  color: #2c3e50;
  margin-top: 20px;
}

p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 30px;
}

ul {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 30px;
}

/* CodeMirror Editor */
#editor {
  border: 1px solid #ccc;
  height: 400px;
  width: 100%;
  margin: auto;
}

/* Responsive Design */
@media (max-width: 768px) {
  .side-panel {
    width: 200px;
  }

  .container {
    margin-left: 220px;
  }
}

@media (max-width: 600px) {
  .side-panel {
    width: 100%;
    height: auto;
    position: static;
    box-shadow: none;
  }

  .container {
    margin-left: 0;
    padding: 10px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }
}
