/* Basic Reset */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f9f9f9;
  color: #000000;
}

/*========= Fixed Header =========*/
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000000;
  color: black;
  z-index: 1000;
  height: 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center; /* Vertically center the content */
  padding: 0 16px; /* Add horizontal padding for better spacing */
}

.fixed-header h1 {
  font-size: 1.6rem;
  margin: 0;
  color: white; /* Keep this if you want the red color */
}

/*========= Main Content =========*/
.main-content {
  /* margin-top: 50px; Offset for the top panel */
  max-width: 100%;
  padding: 10px;
  background-color: #d9d9d9;
  border-radius: 0 0 10px 10px;
  margin-left: auto;
  margin-right: auto;
}

.main-content h1 {
  font-size: 2rem;
  color: #2c3e50;
  margin-top: 30px;
}

/*========= Standard =========*/
h1 {
  font-size: 4.5rem;
  color: #2c3e50;
  margin-bottom: 0px;
}

h2 {
  font-size: 2rem;
  color: #2c3e50;
  margin-top: 20px;
}

p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 30px;
}

ul {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 30px;
}

/*======= CodeMirror Editor =======*/
#editor {
  border: 1px solid #ccc;
  height: 400px;
  width: 100%;
  margin: auto;
}
