<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>03 Moving Faster 2</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>
  <body>
  
      <!-- Content -->
      <div class="content">
        <p>
          This is a <span class="highlight">highlighted</span> paragraph. Resize
          the browser to see how it adapts!
        </p>
      </div>

      <!-- Footer -->
      <footer class="footer">
        <p>&copy; 2023 My Website</p>
      </footer>
    </div>
  </body>
</html>
