<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vim Exercise Home</title>
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>

  <body>
    <!-- Fixed header -->
    <div class="fixed-header">
      <h1>Vim Exercise Dojo</h1>
    </div>

    <!-- Main Content -->
    <div class="main-content">
      <h1>Going Vim</h1>
      <p>Master the art of Vim one chapter at a time!</p>
      <p>
        Start with <a href="{{ url_for('chapter01') }}">Basic Navigation</a> to
        learn the fundamentals.
      </p>
    </div>

    <!-- Link to JavaScript -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  </body>
</html>
